.w-10{width: 10%;}
.w-20{width: 20%;}
.w-30{width: 30%;}
.w-33{width: 33%;}
.w-40{width: 40%;}
.w-60{width: 60%}
.w-66{width: 66%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}

.h-75{height: 75%;}

.w-100px{width: 100px;}
.w-150px{width: 150px;}
.w-200px{width: 200px;}
.w-500px{width: 500px;}